version: '3.8'

services:
  app:
    build: .
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    depends_on:
      - postgres
    environment:
      - ENVIRONMENT=production
    restart: always #unless-stopped

  postgres:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always #unless-stopped

  adminer:
    image: adminer
    restart: always #unless-stopped
    ports:
      - 8081:8080
    # depends_on:
    #   - postgres

volumes:
  postgres_data: